@import "../utilities/variables";
@import "../utilities/mediaQueries";

.botonNavbar{
    color: $letterbutton;
    background-color: $colorButtonPrimary;
    border: var(--bs-btn-border-width) solid $borderButton;
    border-radius: 25px;
    padding: 10px 25px 10px 25px;
    margin: 5px;

    &:hover{
        
        background-color: $colorHoverblue; 
    }
}


