@import "../utilities/variables";

.cartWidget {

    button{
        display:flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 10px;
        border: var(--bs-btn-border-width) solid $borderButton;
        padding: 8px;
            
            h5{
                text-decoration:none;
                margin-top: 8px;
                margin-bottom: 0;
            }

            img{
                width: 40px;
            }
    }
}

