@import "../utilities/variables";
@import "../utilities/mixin";

.mainCheckout{
    h2{
        text-align: center;
        margin: 2vh;
    }
    .sectionCheckout{
        @include flex(row, space-around, center);
        height: 100%;
        margin: 0;

        .cartComponentDiv{
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 1%;
            padding: 5vh;
            width: 130vh;

            .cartComponentSubtitulos{
                @include grid(1fr 1fr 1fr 5%, none, none, none, 20px);
                padding: 10px 20px;
                border-bottom: 1px solid #ddd;
                text-align: center;
            }

            .cartComponent{
                @include flex(column, space-between, none);
                list-style-type: none;
                padding-left: 0;

                .cartComponentList{
                    @include grid(1fr 1fr 1fr 5%, space-between, center, center, 20px);
                    margin: 2vh 0;
                    
                    .cartComponentItem{
                        @include flex(column, none, center);
                        width: 30%;

                        img{
                            width: 10vw;
                        }
                    }
                }

                .cartComponentButton{
                    padding: 0px;
                    border: var(--bs-btn-border-width) solid $borderButton;

                    img{
                        object-fit: contain;
                        width: 6vh;
                    }
                }
            }
            
        }

        .cartComponentSummary{
            @include flex(column, none, none);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 1%;
            padding: 5vh;

            .cartComponentLine{
                border-bottom: 1px solid #ddd;

                .cartComponentSubtotal{
                    @include flex(row, space-between, none);
                }

                .cartComponentImpuestos{
                    @include flex(row, space-between, none);
                }
            }

            p{
                font-size: 1.0vw;
            }

            .cartComponentTotal{
                @include flex(row, space-between, none);
                padding-top: 2vh;
            }

            .cartComponentButtons{
                @include flex(column, none, none);
                gap: 15px;
                margin-top: 20px; 

                .cartComponentCheckout{
                    border: var(--bs-btn-border-width) solid $borderButton;
                    color: $letterbutton;
                    background-color:$colorButtonPrimary;
                    border-radius: 25px;
                    padding: 10px 30px 10px 30px;
                    
                    &:hover {
                        background-color: $colorHoverblue; 
                    }
                }

                .cartComponentVaciarCarrito{
                    color: $letterbutton;
                    background-color: #D32F2F;
                    border: var(--bs-btn-border-width) solid $borderButton;
                    border-radius: 25px;
                    padding: 10px 35px 10px 35px;

                    &:hover{
                        background-color: $colorHoverRed;
                    }
                }
            }

        }
        
    }
    
}
