@import "../utilities/variables";
@import "../utilities/mixin";

body{
    height: 100%;
}
.texto{
    margin: 30px;
    text-align: center;
}

.cardInstrumentTienda{
  @include grid(repeat(4, 20vw), center, center, end, 4rem);
  text-align: center;
  margin: 3rem;
  transform: translate(-20px, -20px);
  transition: 0.5S;
    
    &:hover{

      transform: translate(-20px, -20px);
      transition: 0.5S;
    }

    img {
      width: 100%;
      border-radius: 5%;
    }

    .buttonInstrumentTienda{

      .detailButtonShop {
          background-color:$colorButtonPrimary;
          border-radius: 25px;
          font-family: "Andreas";
          font-weight: 700;
          padding: 10px 30px 10px 30px;

        &:hover{
          background-color: $colorHoverblue; 
        }
        
      }

    }   
} 