@import "../utilities/variables";
@import "../utilities/mixin";

.count{

    @include grid(repeat(3, 1.5vw), center, center, center, none);
    text-align: center;
    
        button{
            background-color: #d1d5da;
            border-radius: 5px;
            font-family: "Andreas";
            font-weight: 700;
            padding: 10px;
            margin-bottom: 20px;
            border: var(--bs-btn-border-width) solid $borderButton
        }
}

