@import "../utilities/variables";
@import "../utilities/mixin";

.DetailCharging{
    text-align: center;
    font-size: 1vw;
}

.Detail{
    text-align: center;
    align-items: center;

    .DetailContainer{

        h2{
            margin-top: 15px;
            margin-bottom: 0;
        }

        img{
            width: 300px;

        }

        .carrito{
            @include flex(column, center, center);
            gap: 1rem;
            margin: 0.5rem;

            button{
                color: $letterbutton;
                background-color: $colorButtonPrimary;
                border: var(--bs-btn-border-width) solid $borderButton;
                border-radius: 25px;
                padding: 10px 25px;

                &:hover{
                    background-color: $colorHoverblue; 
                }
            }
        }
    } 
}