@import "../utilities/mixin";
@import "../utilities/mediaQueries";

.navbarjsx{
    @include flex(row, space-evenly, center);
    background-color: #d1d5da;
    text-align: center;

        .logoBateria{
            border-radius: 10px;
            width: 90px;
            margin: 5px 0 5px 0;
        }

        .navbarCentro{
            margin: 0 20vw 0 20vw;
        }   

        .menuHamburguer{
            display: none;
            font-size: 2rem;
            background: none;
            border:none;
            cursor: pointer;
        } 
}